<!--  View for the dashboard of the site  -->
<div class="container-fluid new-section" ng-init="dashboard.getValidatorInfo()">
     
	<div class="row">
       	
       	<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
       		
       		<!--<div class="preloader" ng-if="loading"></div>-->
       		<!--<span ng-if="loading">&nbsp;&nbsp;<i class="fa fa-spinner fa-spin" style="font-size:24px;color:#11133b;"></i></span>-->
       
       		<div class="loading" ng-if="loading">Loading&#8230;</div>
       		<div class="loading-content text-data" ng-if="loading && dashboard.etherBal <= 0">Transfering Test Ethers to your ZeCash Wallet.</div>
       		<div class="loading-content text-data" ng-if="loading && dashboard.etherBal > 0">Doing Our Magic. Donating ZeCash.</div>
       		<h1>Dashboard</h1>
     	

     		<div id="ether-text" ng-if="dashboard.etherBal <= 0">Before You Start using this Demo, You will need a Test Ether.</div>

     		<input type="button" id="testether" class="btn-lg zecash-btn" ng-if="dashboard.etherBal <= 0" value="Get Test Ethers" data-ng-click="dashboard.getEtherAmount()">

			<div class="panel panel-default">
			    <div class="panel-heading"><strong>Validator Details</strong></div>
			    <div class="panel-body text-data"><span class="title">Address:</span> {{dashboard.address}}</div>
			    <div class="panel-body"><span class="title">Balance:</span> {{dashboard.totalBalance}} ZCH</div>
			    <div class="panel-body"><span class="title">Staked Percent:</span> {{dashboard.stakedPercent}} %</div>
			    <div class="panel-body"><span class="title">ZCH Earned: </span>{{dashboard.zchEarned}} ZCH</div>
			    <div class="panel-body"><span class="title">Blocks Forged: </span>{{dashboard.blocksForged}}</div>
			  </div>

			 <!-- <a class="btn-lg zecash-btn" data-ng-click="dashboard.getEtherAmount()" id="testether">Get Test Ether</a>-->


			  <form name="getzecash" method="post">
				    <div class="form-group">
				      <label for="amount">Amount:</label>
				      <input type="number" class="form-control input-lg" ng-model="dashboard.amount" min = "{{dashboard.minValue}}" max = "{{dashboard.maxValue}}" id="amount" name="amount" required>
				      <div ng-messages="getzecash.amount.$error" ng-show="getzecash.amount.$dirty && getzecash.amount.$invalid" class="ang-messages">
						<div ng-message="required">Please enter required amount</div>
						<div ng-message="min">Please enter amount more than 1000</div>
						<div ng-message="max">Please enter amount less than 100000</div>
					</div>
				    </div>
				    <br>
				    <div class="form-group">
				    
				    <!--<button type="submit" class="btn-lg zecash-btn" data-ng-click="dashboard.getZecashAmount()" ng-disabled="getzecash.$invalid">Get ZeCash</button>-->
				    <input type="button" class="btn-lg zecash-btn" ng-disabled="dashboard.total >= 100000 || getzecash.$invalid || dashboard.etherBal <= 0" value="Get ZeCash" data-ng-click="dashboard.getZecashAmount()">
				   <a ng-if="dashboard.etherBal > 0" class="btn-lg zecash-btn" ui-sref="validator" id="validator3">See ZeCash in Action</a>

				   <!-- <div><a class="btn-lg validator-btn large-screen-hide" ui-sref="validator" id="validator2">See ZeCash in Action</a></div>-->
				    
				</div>

 			 </form>
 			  <a class="btn-lg zecash-btn" ui-sref="validator" id="validator1">See ZeCash in Action</a>
			 

			<div class="warning">Note: You can have maximum of 100000 ZCH in your Balance</div>
	       

			
			<br>
			<br>
			<!--<div class="jumbotron">
			  <h2><strong>Recently Minted Blocks</strong></h2>    
			  <br>  
			  <p>You have not minted any blocks yet.</p>
			</div>-->
	    </div>
	        
    </div>
      
</div>