<!--  View for the front page of the site  -->
<div class="container" id="front-page">
   <div id="particles-js"></div>
   <div class="row">
        <div class="col-sm-2">
            <div class="logo">
                <b>ZeCash.io</b>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 va-outer">
                <div class="hero-content va-inner va-middle">
                    <h1>Welcome To ZeCash 
                    <br>Proof Of Stake Validator 
                    <br>Network
                     </h1>
                  
                            
                <div class="row more-button">
                    <a class="btn-lg" ui-sref="instructions">Learn More</a>
                </div>
                </div>
            </div>
            <div class="col-md-5 text-center va-outer">
                <div class="hero-content right va-inner va-middle">
                    <div class="small-device-hidden">
                        <img class="big-coin" src="img/big-coin.png">        
                    </div>
                           
                </div>
            </div>
        </div>
    </div>   
</div>