<!-- View for tickets from particular user -->
<div class="container-fluid new-section" ng-init="dashboard.getInstructions()">
      	
 	<div class="row">
       
       <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
       		
       		<!--<state-loader></state-loader>-->

          <div class="loading" ng-if="loading && enableButton">Loading&#8230;</div>
          <div class="loading-content text-data" ng-if="loading && enableButton">Hold Tight! Creating Your ZeCash Wallet.</div>
          <h1>Instructions To Use The Platform</h1>

			<ol class="list">
				
				<li>Users need to click on "Become A Validator" Button on the bottom of this page. As they will click this button they will be taken to the Dashboard page</li>

        <li>In Dashboard, users need to click on "Get Test Ethers" Button to get 1 test ether in their account which will be used to provide the gas for the transactions they carry out</li>

        <li>In Dashboard, the user can see the details like their address, balance, ZCH Earned and No of Blocks forged.</li>
        
        <li>There is a "Get Zecash" Button in this view. Users can get Zecash in their address by clicking on this button. The minimum Zecash that can be requested is 1000 ZCH and the maximum ZCH that they can have is 100000 ZCH</li>

        <li>On clicking the button "See Zecash in Action", users will be taken to the All Validators Page. </li>

        <li>In this page, users can see all the validators that are present on the platform. All the information like address of validators, amount staked by them, staking percent and number of blocks forged by them is visible on this page.</li>

        <li>Based on the coins that are staked by the user, a random validator is selected for validation of the block in the blockchain and that validator can be seen on top of the page</li>

        <li>When the user's address is chosen for validating the next block, then they will be able to see the "Validate Block" button below their details. When they will press the button the block will be validated and added to the blockchain and some amount of ZCH will come as reward in their account which they can see on their dashboard</li>

        <li>If a user’s validator is chosen to validate the block, and they don’t validate the block, then one of the other validators will be validating the block</li>


			</ol>

			<br>

			<div>
    			<br>
    		
          <input type="button" class="btn-lg zecash-btn" value="Become A Validator" data-ng-click="dashboard.getListedAsValidator()" ng-if="enableButton">
          
          <br>

          <a ng-if="!enableButton" class="btn-lg zecash-btn" ui-sref="dashboard" id="dashboard3">Go To Dashboard</a>
    		</div>
        <br>

       
       		
 	   </div>

 	</div>
		
</div>   